

@html = ->
  div '#header', ->
    # Insert content you want to show up on every page here
    a '.connect_status .fb     .offline', href:'#', 'Facebook'
    a '.connect_status .google .offline', href:'#', 'Google'
    span '.connect_status', "API's"
    a '#docs_link', href:'/docs', 'Documentation'